<?xml version="1.0"?>

<robot name="summit_xl" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Import summit XL wheels -->
	<xacro:include filename="$(find summit_description)/urdf/wheels/omni_wheel.urdf.xacro" />
	<xacro:include filename="$(find summit_description)/urdf/base/summit_base.urdf.xacro" />
	<xacro:include filename="$(find summit_description)/urdf/camera/camera.urdf.xarco" />
	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.2225" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.2045" />
	<xacro:property name="wheel_offset_z" value="0.0" />

	<xacro:macro name="robot">
		<xacro:summit_base/>

		<xacro:omni_wheel prefix="summit_front_right" parent="summit_base_link" reflect="false">
			<origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="summit_front_left" parent="summit_base_link" reflect="true">
			<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="summit_back_left" parent="summit_base_link" reflect="true">
			<origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="summit_back_right" parent="summit_base_link" reflect="false">
			<origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_steering/>

		<xacro:camera_sensor xyz="0.45 0 0.32" rpy="0 0.785 0" parent="summit_base_link"/>


   </xacro:macro>

   <xacro:robot/>

</robot>

